.Tag {
  font-size: 0.9rem;
  font-family: 'IM Fell DW Pica';
  color: var(--book-medium);
  border: 0.2em solid var(--book-light);
  border-radius: 0.3em;
  padding: 0 0.3em;
  user-select: none;
  display: flex;
}

.Tag.can-remove:hover {
  border-color: hsl(10, 60%, 70%);
  color: hsl(10, 60%, 60%);
  transition: all 0.25s;
  cursor: pointer;
}

.Tag.tag-result {
  background-color: var(--book-dark);
  border-color: var(--book-dark);
  color: hsl(30, 40%, 88%);
  font-size: 1em;
  cursor: pointer;
}

.Tag.can-remove:active,
.Tag.tag-result:active {
  transform: translateY(2px) !important;
}

.Tag button {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  width: 0.65em;
  height: 0.65em;
  padding: 0.65em;
  margin-left: 0.4em;
  background-color: hsla(0, 0%, 10%, 0.25);
  box-shadow: hsla(0, 0%, 0%, 0.25) 0px 2px 8px;
  border-radius: 5em;
  border: none;
  backdrop-filter: blur(4px);
  font-size: 0.9em;
  font-weight: bold;
  color: hsl(0, 20%, 75%);
  cursor: pointer;
}