.AppBar {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0em 0.5em 1em 0.5em;
  border-right: 2px solid hsl(35, 25%, 70%);
}

.AppBarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  border: none;
  border-radius: 0.20em;
  background: hsl(35, 30%, 72%);
  font-size: 1.5em;
  font-weight: bold;
  color: var(--book-light);
  cursor: pointer;
}

.AppBarButton:hover {
  border-color: var(--book-medium);
  color: var(--book-medium);
  transition: all 0.25s;
}

.AppBarButton.active {
  background-color: hsl(30, 18%, 42%);
  color: white;
  transition: all 0.25s;
}

.AppBarButton.disabled {
  border: 2px solid hsl(35, 30%, 70%);
  background-color: transparent;
  color: hsl(35, 30%, 70%);
  pointer-events: none;
}

#appbarbutton-tooltip {
  padding: 0.25em 0.75em;
  z-index: 99999999;
  border-radius: 0.25em;
  background: hsl(30, 20%, 85%);
  box-shadow: 0px 0px 8px 0px hsla(30, 20%, 50%, 0.2);
  font-size: 0.7em;
  font-weight: normal;
  color: var(--book-medium);
  text-transform: capitalize;
}

.AppBar-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: auto;
}