.AppBar {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 1em;
  padding-right: 1em;
  background-color: hsl(0, 45%, 17%);
}

.AppBar>.bottom-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: auto;
}

.AppBarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  border: none;
  background: transparent;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  color: var(--book-light);
}

.AppBarButton:hover {
  color: hsl(35, 30%, 70%);
  transition: all 0.25s;
}

.AppBarButton.active {
  color: hsl(35, 60%, 90%);
  transition: all 0.25s;
}

.AppBarButton.disabled {
  background-color: transparent;
  color: var(--book-dark);
  pointer-events: none;
}

#appbarbutton-tooltip {
  padding: 0.2em 0.5em;
  z-index: 99999999;
  border-radius: 0.25em;
  background: hsl(30, 20%, 85%);
  box-shadow: 0px 0px 6px 0px hsla(30, 20%, 50%, 0.15);
  font-family: 'Asul';
  font-size: 0.6em;
  font-weight: normal;
  color: var(--book-medium);
  text-transform: capitalize;
}

.AppBar>hr {
  color: var(--book-light);
}