# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
src_old

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.npmrc
src/assets/hex_icons/castle.png
src/assets/hex_icons/cave.png
src/assets/hex_icons/church.png
src/assets/hex_icons/dungeon.png
src/assets/hex_icons/evergreen.png
src/assets/hex_icons/evergreenhills.png
src/assets/hex_icons/evergreenmountain.png
src/assets/hex_icons/evergreenmountains.png
src/assets/hex_icons/forestedhills.png
src/assets/hex_icons/forestedmountain.png
src/assets/hex_icons/forestedmountains.png
src/assets/hex_icons/grassland.png
src/assets/hex_icons/grasslandhills.png
src/assets/hex_icons/grassyhills.png
src/assets/hex_icons/heavyevergreen.png
src/assets/hex_icons/heavyforest.png
src/assets/hex_icons/hills.png
src/assets/hex_icons/jungle.png
src/assets/hex_icons/junglehills.png
src/assets/hex_icons/junglelight.png
src/assets/hex_icons/junglemountains.png
src/assets/hex_icons/landmark.png
src/assets/hex_icons/lightforest.png
src/assets/hex_icons/mountain.png
src/assets/hex_icons/mountains.png
src/assets/hex_icons/swamp.png
src/assets/hex_icons/teepee.png
src/assets/hex_icons/tower.png
src/assets/hex_icons/village.png
src/assets/hex_icons/windmill.png
src/assets/hex_icons/x.png
src/assets/img/mask_rough_edges.png
src/components_old/HexMap/HexMap.css
src/components_old/HexMap/HexMap.tsx
src/components_old/HexMap/HexMapTool.tsx
src/components_old/Map/Map.css
src/components_old/Map/Map.tsx
src/components_old/MapDisplay/MapDisplay.css
src/components_old/MapDisplay/MapDisplay.tsx
src/pages_old/Maps/Maps.css
src/pages_old/Maps/Maps.tsx
src/sections/BackupMaps/BackupMaps.css
src/sections/BackupMaps/BackupMaps.tsx
src/test.json
