/* @media (max-width: 768px) { */


.Board {
  display: grid;
  grid-template-columns: min-content auto;
}




.Board::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgb(46, 42, 29);
  background: linear-gradient(90deg, hsla(25deg, 20%, 15%, 1) 0%, hsla(25deg, 20%, 15%, 0.5) 30%, hsla(25deg, 20%, 15%, 0%) 50%);
  pointer-events: none;
  z-index: -1;
}

.Board .side-section>div {
  position: absolute;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.Board .side-section>div>.section {
  height: inherit;
  overflow: hidden;
}

.Board .side-section>div>.section>.content {
  height: inherit;
  overflow-y: scroll;
}

.Board .side-section {
  margin-top: -55px;
  margin-left: -1em;
  width: 31em;
  height: 100%;
  z-index: 9;
  padding: 2em 1em 2em 1em;
  color: hsl(30, 20%, 80%);
}



.Board .side-section .title {
  color: hsl(30, 20%, 80%);
  font-family: 'IM Fell DW Pica';
  font-size: 2.5rem;
  overflow: hidden;
  padding-bottom: 0.25em;
  user-select: none;
}


.PinnedDecks,
.PinnedMaps,
.PinnedCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5em;
}

.Deck.pinned-active {
  transform: translateY(-5px);
  transition: all 0.25s;
  filter: sepia(0);
}



@media (max-width: 1078px) {
  .Board {
    grid-template-columns: auto;
    grid-template-rows: 20em auto;
  }

  .Board .side-section {
    width: 90%;
    /* height: 10em; */
    margin-left: 0;
    width: unset;
    overflow: hidden;
  }

  .Board .side-section>div {
    position: relative;
    width: unset;
    overflow: hidden;
  }
}