/* */
.CardDisplay {
  background-position-x: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 0.75em;
  bottom: 1em;
  box-shadow: hsla(30, 40%, 25%, 0.95) 5px 5px 20px 5px;
  box-sizing: border-box;
  height: calc(100% - 2em);
  overflow: hidden;
  position: fixed;
  right: 6em;
  width: 40em;
  z-index: 2;
  padding: 0 0 3.75em 0;
}

.CardDisplay>div {
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  overflow: auto;
  height: 100%;
}

.CardDisplay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: hsla(30, 20%, 20%, 0.75); */
  z-index: -1;
}

.CardDisplay.hidden {
  pointer-events: none;
}


/* .CardDisplay .scrollable {
  overflow: auto;
  grid-template-rows: min-content min-content min-content;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */


.CardDisplay .card-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5em;
  padding: 1em 1em 0.5em 1em;
  z-index: 99;
}

.CardDisplay .card-header button {
  align-items: center;
  align-self: flex-end;
  backdrop-filter: blur(4px);
  background-color: hsla(30, 25%, 95%, 0.15);
  border-radius: 5em;
  border: none;
  box-shadow: hsla(0, 0%, 0%, 0.2) 4px 4px 8px;
  color: hsl(30, 25%, 90%);
  cursor: pointer;
  display: flex;
  font-size: 1.5em;
  height: 1.2em;
  justify-content: center;
  padding: 0.2em;
  width: 1.2em;
}

.CardDisplay .card-header button:hover {
  background-color: hsla(30, 25%, 95%, 0.3);
  transition: all 0.25s;
}

.CardDisplay .card-header button.active {
  color: hsl(50, 45%, 50%);
  transition: all 0.25s;
}

/* TITLE */
.CardDisplay .card-title {
  background: linear-gradient(hsla(30, 20%, 20%, 0) 0%, hsla(30, 20%, 20%, 0.75) 100%);
  /* transition: padding-top 0.5s; */
  padding: calc(100% - 10em) 1em 0 1em;
}

.CardDisplay .card-title .separator {
  border-bottom: 3px solid hsla(35, 45%, 75%, 0.25);
}

.CardDisplay .card-title .card-label {
  font-family: 'IM Fell DW Pica';
  font-size: 2.5em;
  text-align: center;
  color: hsl(35, 35%, 90%);
}

.CardDisplay .card-title .card-description {
  font-family: 'Asul';
  font-size: 1.2em;
  text-align: center;
  color: hsl(35, 45%, 70%);
  padding: 0.5em;
}

/* SECTIONS */
.CardDisplay .card-sections {
  font-family: 'Asul';
  font-size: 1.2em;
  text-transform: uppercase;
  color: hsl(35, 35%, 75%);
  display: flex;
  gap: 1em;
  flex: 1;
}

.CardDisplay .card-sections .card-section {
  cursor: pointer;
}

.CardDisplay .card-sections .card-section:hover {
  color: hsl(35, 35%, 95%);
  transition: all 0.25s;
}

/* CONTENT */
.CardDisplay .card-content {
  font-family: 'Asul';
  color: hsl(40, 40%, 90%);

  /* overflow: auto; */
  padding: 0 1em 0 1em;
  background-color: hsla(30, 20%, 20%, 0.75);
}

/* TOOLS */
.CardDisplay .card-tools {
  display: flex;
  gap: 0.5em;
  padding: 1em;
  padding-top: 0.75em;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: hsla(30, 20%, 20%, 0.75);
  width: calc(100% - 2em);

}

.CardDisplay .card-tools>div {
  display: flex;
  justify-content: end;
  gap: 0.5em;
  flex: 1;
}

.CardDisplay .card-tools button,
.CardDisplay .card-tools .popmenu-button {
  background-color: transparent;
  border: 0.15em solid hsl(30, 35%, 55%);
  /* border: unset; */
  padding: 0.25em 0.5em;
  border-radius: 0.4em;
  font-family: 'IM Fell DW Pica';
  font-size: 1em;
  color: hsl(30, 35%, 65%);
  cursor: pointer;
  user-select: none;
  transition: all 0.25s;
}


.CardDisplay .card-tools button:hover {
  border-color: hsl(30, 35%, 75%);
  color: hsl(30, 35%, 85%);
  transition: all 0.25s;
}

.CardDisplay .card-tools button.delete-collection:hover {
  color: hsl(9, 55%, 55%);
  border-color: hsl(9, 55%, 55%);
  transition: all 0.25s;
}

.CardDisplay .card-tools .selector-card-collection .popmenu-button {
  border: 0.15em solid hsl(10, 50%, 40%);
  color: hsl(10, 50%, 45%);
}

.CardDisplay .card-tools .selector-card-type .popmenu-button {
  border: 0.15em solid hsl(35, 35%, 40%);
  color: hsl(35, 35%, 45%);
  text-transform: capitalize;
}





.CardDisplay .card-content .toolbar {
  display: flex;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  gap: 0.2em;
  margin-bottom: 1px;
  vertical-align: middle;
  height: 2em;
  position: fixed;
  margin-top: 38.6em;
  z-index: 2;
  flex: 1;
  padding-bottom: 0.5em;
  width: calc(100% - 4.4em);
  margin-left: 2.3em;
  bottom: 6.5px;
}

.CardDisplay.display-mode .card-content .toolbar {
  display: none;
}


/* 










 */

/* 







.CardDisplay .card-content input {
  background: hsla(20, 10%, 45%, 0.2);
  color: var(--book-light);
  height: 1.5em;
}


@media (max-width: 800px),
(max-height: 500px) {
  .CardDisplay {
    width: 100vw;
    height: 100%;
    right: 0;
    bottom: 0;
  }

  .CardDisplay .card-content {
    width: 89vw;
  }

  .CardDisplay .card-display {
    grid-template-rows: 5.5em 20em min-content max-content;
    height: calc(100% - 4em);
  }
} 
*/