.Toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 1em;
  border-top: 4px solid hsl(30, 15%, 45%);
}

.Toolbar button,
.Toolbar .Selector .popmenu-button {
  background-color: hsl(30, 18%, 42%);
  color: hsl(30, 25%, 90%);
  border: none;
  border-radius: 0.25em;
  padding: 0.2em 0.7em;
  font-family: 'Asul';
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.25s;
}

.Toolbar button:hover,
.Toolbar .Selector .popmenu-button:hover {
  background-color: hsl(30, 18%, 36%);
  transition: background-color 0.25s;
}

.Toolbar button.active:hover {
  background-color: hsl(38, 30%, 44%);
}

.Toolbar button:active {
  transform: translateY(2px);
}

.Toolbar button.active {
  background-color: hsl(38, 30%, 50%);
  transition: background-color 0.25s;
}

.Toolbar button:disabled {
  background-color: hsl(38, 10%, 40%);
  color: hsl(38, 10%, 65%);
  cursor: none;
  pointer-events: none;
  transition: all 0.25s;
}

.Toolbar .searchbar {
  right: 0;
  margin-left: auto;
  display: grid;
  grid-template-columns: auto min-content;
  gap: 0.25em;
  width: 30%;
}

.Toolbar .searchbar input {
  background: hsla(38, 30%, 40%, 0.2);
  border: none;
  border-radius: 5px;
  text-align: end;
  padding: 0 1em;
  font-family: 'IM Fell DW Pica';
  color: hsl(40, 20%, 35%);
  font-size: 1em;
}

.Toolbar .searchbar input:focus {
  border: none;
  outline: none;
}

.Toolbar .searchbar svg {
  font-size: 1.5em;
  color: hsla(38, 15%, 40%);
  padding: 0;
  margin: 0;
}