.Card {
  font-size: 1rem;
  display: grid;
  grid-template-rows: auto 1.3em;
  /* padding: 0.75em;
  width: 10em;
  height: 18em; */
  padding: 0.4em;
  width: 10em;
  height: 18em;
  background-color: linear-gradient(150deg, hsl(0deg 6% 45%) 0%, hsl(0, 0%, 20%) 100%);
  background-size: cover !important;
  background-position: center !important;
  box-shadow: hsl(30deg 50% 15% / 50%) 2px 2px 5px 0px, inset 1px -75px 75px hsla(0, 0%, 0%, 0.5);
  filter: sepia(70%);
  border-radius: 0.75em;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s;
}

.Card:before {
  content: '';
  /* border: 0.15em solid hsl(45deg 40% 70% / 50%); */
  border: 2px solid hsl(45deg 40% 70% / 50%);
  position: absolute;
  flex: 1;
  width: 92%;
  height: 87%;
  justify-self: center;
  align-self: top;
  margin-top: 0.4em;
  border-radius: 0.5em;
  z-index: 9;
  pointer-events: none;
}

.Card:hover {
  filter: sepia(0%);
  transform: translateY(-5px);
  transition: all 0.25s;
}

.Card .label {
  padding-bottom: 0.5em;
  align-self: end;
  text-align: center;
  font-family: 'IM Fell DW Pica';
  text-shadow: 1px 1px 10px black;
  line-height: 0.75em;
}

.Card .label div:first-child {
  font-family: 'IM Fell DW Pica';
  font-size: 1.2em;
  color: hsl(30, 30%, 95%);
  padding-bottom: 0.3em;
}

.Card .label div:last-child {
  font-family: 'Asul';
  font-size: 0.6em;
  color: hsl(40, 20%, 70%);
  height: min-content;
  overflow: hidden;
}

.Card .stats {
  display: flex;
  justify-content: end;
}

.Card .stats .card-stat {
  font-size: 0.8em;
  font-family: 'Asul';
  color: black;
  background-color: hsl(45deg 40% 70% / 50%);
  border-radius: 0.2em;
  padding: 0.2em 0.75em;
}