.Deck {
  font-size: 1rem;
  display: grid;
  grid-template-rows: auto min-content;
  width: 11em;
  height: 12em;
  background-color: linear-gradient(150deg, hsl(0deg 6% 45%) 0%, hsl(0, 0%, 20%) 100%);
  background-size: cover !important;
  background-position: center !important;
  box-shadow: hsl(30deg 50% 15% / 50%) 2px 2px 5px 0px, inset 1px -75px 75px hsla(0, 0%, 0%, 0.5);
  filter: sepia(70%);
  border-radius: 0.75em;
  user-select: none;
  cursor: pointer;
  transition: all 0.25s;
}

.Deck:hover {
  filter: sepia(0%);
  transition: all 0.25s;
}

.Deck .tools {
  display: flex;
  gap: 0.5em;
  justify-content: end;
  padding: 0.5em;
}

.Deck .tools button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  padding: 0.2em;
  background-color: hsla(0, 0%, 100%, 0.1);
  box-shadow: hsla(0, 0%, 0%, 0.25) 0px 2px 8px;
  border-radius: 5em;
  border: none;
  backdrop-filter: blur(4px);
  font-size: 1.5em;
  color: hsl(0, 0%, 55%);
  cursor: pointer;
}

.Deck .tools button:hover {
  color: hsl(9, 60%, 60%);
  transition: all 0.25s;
}

.Deck .tools button.active {
  color: hsl(35, 60%, 60%);
}

.Deck .info {
  display: grid;
  grid-template-rows: min-content min-content 1em;
  background-color: hsla(0, 0%, 20%, 0.6);
  padding: 0.5em 0.5em 0.2em 0.5em;
  border-bottom-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}

.Deck .info .label {
  align-self: end;
  color: hsl(30, 30%, 95%);
  font-family: 'IM Fell DW Pica';
  font-size: 1.2em;
  line-height: 1em;
  overflow: hidden;
  padding-bottom: 0.1em;
  text-shadow: 1px 1px 10px black;
}

.Deck .info .description {
  color: hsl(30, 30%, 75%);
  font-family: 'Asul';
  font-size: 0.75em;
  font-style: italic;
  padding-bottom: 0.2em;
}

.Deck .info .stats {
  color: hsl(30, 30%, 50%);
  font-family: 'Asul';
  font-size: 0.75em;
  text-align: end;
}