.Set {
  background-color: var(--color-theme-dark);
  background-position: center;
  background-size: cover;
  border-radius: var(--default-border-radius);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 8px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
  cursor: pointer;
  display: grid;
  filter: sepia(70%) grayscale(50%);
  font-size: .85rem;
  grid-template-rows: auto min-content;
  height: 20em;
  overflow: hidden;
  transition: all 0.25s;
  user-select: none;
  width: 9em;
}

.Set:hover {
  filter: sepia(0%);
  transition: all 0.3s;
}

.tools {
  align-items: start;
  display: flex;
  font-size: 1em;
  gap: 0.25em;
  justify-content: end;
  padding: 0.5em;
}

.infoPanel {
  background-color: var(--color-theme-dark-overlay);
  display: grid;
  grid-template-rows: min-content min-content;
  padding: 0.5em;
}

.infoPanel__label {
  align-self: end;
  color: var(--font-color-clear);
  font-family: var(--font-title);
  font-size: 1.1em;
  line-height: 1.1em;
  padding-bottom: 0.25em;
  text-shadow: 1px 1px 10px black, 1px 1px 10px black;
}

.infoPanel__stats {
  color: var(--font-color-clear-faint);
  font-family: var(--font-default);
  font-size: 1em;
  text-align: end;
}