.Dialog {
  position: fixed;
  right: 5em;
  bottom: 3em;
  z-index: 999999;
  display: grid;
  grid-template-rows: 2.5em min-content min-content;
  width: 30em;
  height: min-content;
  padding: 0.8em;
  box-sizing: border-box;
  border: 1px solid hsl(0, 5%, 45%);
  border-radius: 0.5em;
  box-shadow: hsl(30deg 50% 25% / 40%) 5px 5px 10px 4px;
  background: linear-gradient(150deg, hsl(0deg 5% 35%) 0%, hsl(0, 5%, 15%) 100%);
  font-size: 1rem;
}

.Dialog.hidden {
  pointer-events: none;
}

.Dialog .dialog-header {
  display: grid;
  grid-template-columns: auto min-content;
}

.Dialog .dialog-header .icon {
  position: absolute;
  z-index: -1;
  font-size: 18em;
  color: hsla(42, 20%, 60%, 0.1);
}

.Dialog .dialog-header .label {
  font-family: 'IM Fell DW Pica';
  text-align: left;
  font-size: 1.5em;
  color: hsl(42, 85%, 80%);
  pointer-events: none;
  overflow: hidden;
  user-select: none;
}

.Dialog .dialog-header .controls {
  display: flex;
  flex: 1;
  justify-content: end;
}

.Dialog .dialog-header .controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  padding: 0.2em;
  background-color: hsla(0, 0%, 100%, 0.20);
  box-shadow: hsla(0, 0%, 0%, 0.25) 0px 2px 8px;
  border-radius: 5em;
  border: none;
  backdrop-filter: blur(4px);
  font-size: 1.5em;
  color: hsl(42, 5%, 20%);
  cursor: pointer;
  transition: all 0.25s;
}

.Dialog .dialog-header .controls button:hover {
  background-color: hsla(0, 0%, 100%, 0.30);
  transition: all 0.25s;
}

.Dialog .dialog-tools {
  display: flex;
  flex-direction: row-reverse;
  align-content: start;
  gap: 0.5em;
}

.Dialog .dialog-tools button {
  color: hsl(40, 30%, 45%);
  padding: 0.25em 0.5em;
  border: 0.15em solid hsl(40, 30%, 45%);
  font-size: 1em;
}

.Dialog .dialog-tools button:hover {
  color: hsl(40, 45%, 55%);
  border-color: hsl(40, 45%, 55%);
}

.Dialog .dialog-tools button.disabled {
  color: hsl(40, 5%, 55%);
  border-color: hsl(40, 5%, 55%);
  pointer-events: none;
}