.Cards {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  /* overflow: hidden; */
  font-size: 1rem;
}

.Cards>img.background {
  position: absolute;
  z-index: -1;
  top: 6rem;
  right: 0;
  width: calc(100% - 4em);
  mask-image: url(../../assets/img/mask.png);
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-mode: alpha;
  -webkit-mask-image: url(../../assets/img/mask.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-mode: alpha;
  filter: sepia(75%);
  opacity: 0.35;
}

.Cards .title {
  padding-bottom: 0.5em;
  font-family: 'IM Fell DW Pica';
  font-size: 2.5em;
  font-weight: bold;
  color: var(--book-dark);
  text-shadow: 1px 1px 14px hsla(40, 42%, 75%, 0.80);
  text-align: center;
  user-select: none;
  overflow: hidden;
}

.Cards .title span {
  color: var(--book-medium);
}

.Cards .results {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.75em;
  padding-top: 0.5em;
  overflow-y: auto;
}